<footer>
    <div class="footer">
      <div class="footerUpersection">
        <div class="AboutUs">
          <h2>About Us</h2>
          <a href="">About</a>
        </div>
        <div class="Contact">
          <h2>Contact Us</h2>
          <a href="mailto: Guruprasadchaubey8426@gmail.com">Gmail</a>
        </div>
      </div>
      <div class="copyrightSection">
        <span> &copy; copyright All Right Reserved. 2023 </span>
      </div>
    </div>
  </footer>