
*{
    padding: 0%;    margin: 0%;
}
body{
    width: 100%;
    height: 100vh;
}

.poster{
        
    width: 100%;
    height: 15vmin;
    background: radial-gradient(circle, rgb(52, 45, 187) 0%, rgba(42, 36, 125, 0.908) 15%, rgba(149, 25, 0, 0.984) 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vmin;
}

.box{
    height: 8vmin;
    width: 8vmin;
    flex-flow: column nowrap;
    align-items: center;
    transition: all 2s cubic-bezier(1, 0.5, 0.33, 1.45) 0s;
    box-sizing: border-box;
    position: relative;
}

.middle_cont{
    height: 60%;
    width: 60%;
    display: inline;
    position: absolute;
    top: 20%;
    left: 20%;
}

.sidebar1{
    height: 20%;
    width: 100%;
    border-radius: 1rem;
}
.sidebar2{
    height: 100%;
    width: 20%;
    align-self: flex-start;
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;

}
.sidebar3{
    height: 100%;
    width: 20%;
    align-self: flex-end;
    display: inline;
    position: absolute;
    top: 0;
    left: 80%;
    border-radius: 1rem;

}
.sidebar4{
    height: 20%;
    width: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 80%;
    left: 0%;
}


.box{
    transform: rotate(225deg) ;
}

.s1, .s4{
    border-radius: 1rem;
    height: 100%;
    width: 0%;
}

.s2, .s3{
    border-radius: 1rem;
    height: 0%;
    width: 100%;
}


.s2{
    animation: s2animation2 0.4s linear 0.4s 1 reverse backwards ;
}
@keyframes s2animation2 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}
body:hover .s2{
    animation: s2animation1 0.5s linear 0s 1 normal forwards ;
}
@keyframes s2animation1 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}

.s3{
    animation: s3animation2 0.4s linear 0s 1 reverse backwards ;
}
@keyframes s3animation2 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}
body:hover .s3{
    animation: s3animation1 0.5s linear 0.4s 1 normal forwards ;
}
@keyframes s3animation1 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        height: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}

.s1{
    animation: s1animation2 0.4s linear 0.4s 1 reverse backwards ;
}
@keyframes s1animation2 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}
body:hover .s1{
    animation: s1animation1 0.5s linear 0s 1 normal forwards ;
}
@keyframes s1animation1 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}

.s4{
    animation: s4animation2 0.4s linear 0s 1 reverse backwards ;
}
@keyframes s4animation2 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}
body:hover .s4{
    animation: s4animation1 0.5s linear 0.5s 1 normal forwards ;
}
@keyframes s4animation1 {
    from{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 0%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
    to{
        background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
        box-shadow: 2px 2px 2px rgba(37, 37, 37, 0.551),
        inset 3px 3px 4px #900C3F;
        width: 100%;
        border: 0.1px solid rgba(0, 0, 0, 0.7);
    }
}


.poster_name{
    
    height: 80%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vmin;
    letter-spacing: 0.3vmin;
    font-family:sans-serif;

    color: rgb(234, 231, 231);
  text-shadow:
    -1px 1px 0px #d7dadb,
    -2px 2px 0px #cacece,
    -4px 4px 0px #adaeae,
    -5px 5px 0px #9a9d9e,
    -6px 6px 0px #919393,
    -7px 7px 0px #8b8d8d,
    -8px 8px 0px #7c7d7d,
    -9px 9px 0px #767778ba;
    animation: opactiy_change 1s linear 0s 1 normal ;
}

@keyframes opactiy_change {
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}
@media (width<=500px) {
    .poster_name{
    text-shadow:
        -0px 0px 1px #d7dadb,
        -1px 1px 2px #cacece,
        -2px 2px 2px #adaeae,
        -3px 3px 2px #9a9d9e,
        -4px 4px 1px #919393,
        -5px 5px 1px #8b8d8d;
    }

}

.navigation{
    width: 100%;
    height: 8vmin;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background: radial-gradient(circle, rgb(1, 0, 82) 0%, rgba(4, 0, 90, 1) 15%, rgba(70, 0, 0, 0.984) 100%);
    justify-content: space-evenly;
}

.menu{
    height: 80%;
    width: 4%;
    margin-left: 1%;
}

.menu #nav_lable{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}
#menu_icon{
    margin: auto;
    font-size: 4.5vmin;
    color: whitesmoke;

}
#menu_icon_lable{
    margin: auto;
    font-size: 3vmin;
    font-weight: bolder;
    font-family: 'Comic Neue', cursive;
    /* font-family: 'IBM Plex Serif', serif; */
    color: white;
}

.sidebar_section{
    height: 100vh;
    width: 35vmin;
    position: fixed;
    top: 0vw;
    left: -40vmax;
    background-color: rgba(0, 0, 0, 0.482);
    display: flex;
    z-index: 1;
    transition: all 0.35s  cubic-bezier(0.42,0,0.1,1);
}

.hide_sidebar{
    display: inline-flex;
    height: 100%;
    flex-grow: 1;
}

.hide_sidebar label{
    padding-left: 2%;
    width: 100%;
    height: 100%;     
    font-size: 8.5vmin;
    color: white;
    /* border: 1px solid black; */
    transition: all 0.5s ease;
}

#Menu_Sidebar{
    height: 100%;
    width: 35vmin;
    
    background-color: #f4f5ff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.325),
    2px 2px 3px  rgba(0, 0, 0, 0.466);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

#Show_sidebar{
    display: none;
}
#Show_sidebar:checked  ~.sidebar_section {
    width: 100%;
    top: 0;
    left: 0;
}


    #Menu_Sidebar ul li{
        height: auto;
        list-style: none;
        font-size: 3.5vmin;
        color: black;
        text-align: center;
    }
    #Menu_Sidebar a{
        text-decoration: none;
    }
    #Menu_Sidebar h1{
        /* border: 1px solid black; */
        box-sizing: border-box;
        text-align: center;
        height: auto;
        padding: 5% 5% 1% 5%;
        font-size: 4.5vmin;
        font-family:sans-serif;
        color: #100e0e;

        background-image: url(https://static.vecteezy.com/system/resources/previews/004/405/039/non_2x/blue-and-red-color-gradient-background-free-vector.jpg);
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

    }
    #Menu_Sidebar h2{
        text-align: center;
        font-size: 2.3vmin;
        font-family:'Times New Roman', Times, serif;
        font-weight: 600;
        color: #434343;
        padding-bottom: 7%;
        
        background-image: url(https://media.istockphoto.com/id/1251007701/photo/abstract-blurred-colorful-gradient-background-in-soft-style.jpg?s=612x612&w=0&k=20&c=J3MxBvMODVvQCYRw8BRkWXhsqsE9XbxxnmMyz42R5-E=);
        background-position: center;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        
    }
    #Home_list_item, #Profile_list_item, #Seller_list_item, #Cart_list_item, #Orders_list_item{
        text-align: center;
        box-sizing: border-box;
        padding: 7% 0%;
        font-family: 'Comic Neue', cursive;
        transition: all 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid black; */
        gap: 7%;
    }
    #Home_list_item span, #Profile_list_item span, #Seller_list_item span, #Cart_list_item span, #Orders_list_item span{
        color: rgb(11, 7, 92);
        /* border: 1px solid black; */
        width: 35%;
    }
    
    #Home_list_item:hover, #Profile_list_item:hover, #Seller_list_item:hover, #Cart_list_item:hover, #Orders_list_item:hover{
        background-color: #e3e5ff;
        letter-spacing: 1px;    
    }
    
    #Home_list_item img, #Profile_list_item img, #Cart_list_item img, #Orders_list_item img{
     height: 60%;
     width: 15%;
     /* border: 1px solid black; */

    }
    
     #Seller_list_item img{
     width: 20%;
    }




    
#hearderform_link{
    text-decoration: none; height: 80%; width: 13%;
}
.userloction{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    gap: 2%;
}
#location_symbol{
    font-size: 4vmin;
    color: whitesmoke;
    margin-left: auto;
}    
.hearderformText{
    margin-right: auto;

    height: auto;
    width: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#Text1, #Text2{
    font-size: 2.5vmin;
    font-weight: bolder;
    font-family: 'Comic Neue', cursive;
    text-align: center;
    color: whitesmoke;
}
#Text1{
    line-height: 140%;
}



.SearchBar{
    height: 85%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.SearchBar input{

    height: 80%;
    width: 94%;
    background-color:rgb(253, 253, 253);
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 2.5vmin;
    padding-left: 1vmin;
}
.SearchBar input:focus{
    outline: 3px solid rgb(225, 161, 0);
    font-size: 3vmin;
}
.SearchBar input:focus ~ #summit_text{
    border: 3px solid rgb(225, 161, 0);
    border-left: none;
}

#summit_text{
    height: 80%;
    width: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(225, 161, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    text-decoration: none;
}
#search_icon{
    font-size: 3vmin;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(47, 30, 5);    
    background-color: rgb(225, 161, 0);
}

#headProfile_link{
    text-decoration: none; 
    height: 80%; 
    width: 7%;
}
.Account{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#user_logo{
    font-size: 5vmin;
    color: transparent;
    -webkit-text-stroke: 1.5px white;
    color: rgb(41, 7, 73);
}
#AccountText{
    font-weight: bolder;
    font-family: 'Comic Neue', cursive;
    font-size: 3vmin;
    
    color: whitesmoke;
}

@media (width<=1500px) {
    .navigation{
        height: 10vmin;
    }    
    .menu{
        width: 9%;
    }    
    #Menu_Sidebar ul li{
    font-size: 4.5vmin;    
    }
     #hearderform_link{
        width: 20%;
    } 
    #location_symbol{
        position: relative;
        top: 20%;
        left: 16%;
        font-size: 3vmin;
    }
    .hearderformText{
        position: relative;
    }
    #Text1, #Text2{
        font-size: 2vmin;
    }
    .SearchBar{
        width: 40%;
    }
    .Search{
        width: 85%;
    }
    #summit_text{
        width: 15%;
    }
    #AccountText{
        display: none;
    }
    .Account{
        justify-content: center;
    }
    #user_logo{
        font-size: 5.7vmin;
    }
    #menu_icon_lable{
        display: none;
    }
    #menu_icon{
        font-size: 5vmin;
    }
    #header_cart_items{
        display:none;
    }
    #cart_logo{
        font-size: 5vmin;
    }


}    

#header_cart_link{
    text-decoration: none; height: 80%; width: 8%;
    margin-right: 1%;
}
.header_cart{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
#cart_logo{
    font-size: 5vmin;
    color: transparent;
    -webkit-text-stroke: 1px white;
    color: #500f0f;
}
#header_cart_items{
    font-weight: bolder;
    font-family: 'Comic Neue', cursive;
    font-size: 3vmin;
    color: whitesmoke;
}

.menu:hover ,#hearderform_link:hover, #headProfile_link:hover, #header_cart_link:hover{
    border: 1px solid white;
    border-radius: 3px;
}













.motor_item_section{
    margin: 2vmin 0.5vmax;
}

.motor_section_level1, .motor_section_level2{
    /* border: 1px solid black; */
    
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    
    height: auto;
    width: auto;
    
    align-items: center;
    /* justify-content: space-evenly; */
    margin-bottom: 5vmin;
    background: #f4f5ff;

}

.motor_section_level1 a, .motor_section_level2 a{
    height: 60vmin;
    width: 35vmin;
    text-decoration: none;
    background-color: rgba(234, 235, 253, 0.667);
    margin: 0 2%;
}

.motor_section_Product1, .motor_section_Product2, .motor_section_Product3, .motor_section_Product4, .motor_section_Product5, .motor_section_Product6, .motor_section_Product7, .motor_section_Product8, .motor_section_Product9, .motor_section_Product10{
    height: 60%;
    width: 100%;
    
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    /* border: 1px solid black; */

}
.film_product_img1, .film_product_img2, .film_product_img3, .film_product_img4, .film_product_img5, .film_product_img6, .film_product_img7, .film_product_img8, .film_product_img9, .film_product_img10{
    margin: 5% 5% 3% 5%;
    height: 80%;
    width: 90%;
    
}
.film_product_img1 img, .film_product_img2 img, .film_product_img3 img, .film_product_img4 img, .film_product_img5 img, .film_product_img6 img, .film_product_img7 img, .film_product_img8 img, .film_product_img9 img, .film_product_img10 img{
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 2px, 1px 1px 5px 1px rgba(0, 0, 0, 0.275);
}

.text1_heading, .text2_heading, .text3_heading, .text4_heading, .text5_heading, .text6_heading,  .text7_heading,  .text8_heading, .text9_heading, .text10_heading{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3%;
}
.text1_heading span, .text2_heading span, .text3_heading span, .text4_heading span, .text5_heading span, .text6_heading span,.text7_heading span,.text8_heading span,.text9_heading span,.text10_heading span{
    font-size: 2.8vmin;
    font-weight: 610;
    color: black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: auto;
}

.Text1, .Text2, .Text3, .Text4, .Text5, .Text6, .Text7, .Text8, .Text9, .Text10{
    height: 40%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */

    
}
.product1_desrp, .product2_desrp, .product3_desrp, .product4_desrp, .product5_desrp, .product6_desrp, .product7_desrp, .product8_desrp, .product9_desrp, .product10_desrp{
    /* border: 1px solid black; */
    width: 90%;
    text-align:start;
    font-size: 2.5vmin;
    color: #100e0e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis; 
}
.product1_rating, .product2_rating, .product3_rating, .product4_rating, .product5_rating, .product6_rating, .product7_rating, .product8_rating, .product9_rating, .product10_rating{
    /* border: 1px solid black; */
    width: auto;
    font-size: 2.5vmin;
    color: rgb(225, 161, 0);;
}
.product1_price, .product2_price, .product3_price, .product4_price, .product5_price, .product6_price,.product7_price, .product8_price, .product9_price, .product10_price{
    /* border: 1px solid black; */

    font-size: 3.5vmin;
    font-family:sans-serif;
    text-align: center;
    color: black;

} 
@media (width<=1000px) {
    .film_product_img1, .film_product_img2, .film_product_img3, .film_product_img4, .film_product_img5, .film_product_img6, .film_product_img7, .film_product_img8, .film_product_img9, .film_product_img10{
        height: 70%;
        margin-bottom: 0%;
    }

    .motor_section_level1 a, .motor_section_level2 a{
        height: 70vmin;
        width: 40vmin;
    }   
    .motor_section_Product1, .motor_section_Product2, .motor_section_Product3, .motor_section_Product4, .motor_section_Product5, .motor_section_Product6, .motor_section_Product7, .motor_section_Product8, .motor_section_Product9, .motor_section_Product10{
        margin-bottom: 5%;    
        height: 55%;
    }
    .Text1, .Text2, .Text3, .Text4, .Text5, .Text6, .Text7, .Text8, .Text9, .Text10{
        height: 40%;
    }
    .product1_desrp, .product2_desrp, .product3_desrp, .product4_desrp, .product5_desrp, .product6_desrp, .product7_desrp, .product8_desrp, .product9_desrp, .product10_desrp{
        font-size: 2.5vmin;
    }

}
@media (width<=500px) {
    .text1_heading, .text2_heading, .text3_heading, .text4_heading, .text5_heading, .text6_heading,  .text7_heading,  .text8_heading, .text9_heading, .text10_heading{
        line-height: 60%;    
    }
    .motor_section_Product1, .motor_section_Product2, .motor_section_Product3, .motor_section_Product4, .motor_section_Product5, .motor_section_Product6, .motor_section_Product7, .motor_section_Product8, .motor_section_Product9, .motor_section_Product10{
       justify-content: space-evenly;
    }
}




body{
    -webkit-tap-highlight-color: transparent;

}











.footer{
    width: 100%;
    height: auto;
    background-color: #1e1127;

    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
}
.footer .footerUpersection{
    margin-bottom: 3vmin;
    /* border: 1px solid wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vmin;
    height: 20vmin;
    color: rgba(255, 255, 255, 0.69);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.849);
    font-size: 3vmin;
    font-family: 'Comic Neue', cursive;
}
.AboutUs, .Contact{
    /* border: 1px solid wheat; */
    margin: 0px 3vmin;
    display: flex;
    flex-flow: column;

    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
.AboutUs h2, .Contact h2{
    font-size: 3.5vmin;
}
.footer .copyrightSection{
    margin-bottom: 3vmin;

    /* border: 1px solid wheat; */

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 20%;
    color: white;
    font-size: 2.8vmin;
}
.footer a:hover{
    text-decoration: underline;
}

body{
    -webkit-tap-highlight-color: transparent;
}
